$color-white: #fff;
$color-black: #000;
$color-lightblack: #333;


$color-blue: #4c57e6;
$color-lightblue: #5b74f0;
$color-darkblue: #434999;
$color-yellow: #ffe139;
$color-darkyellow: #ddbf1a;

$color-gray: #dadada;
$color-darkGray: #9aa1ab;
$color-lightGray: #dee3eb;
$color-gray-a: #ddd;
$color-gray-b: #eee;
$color-gray-c: #666;
$color-gray-d: #ececec;
$color-gray-e: #f5f5f5;
$color-gray-f: #999;
$color-gray-g: #ccc;
$color-gray-h: #e2e2e2;

$color-red: #ff2d2d;
$color-pink: #ffdbdb;

$font-note: 'Noto Sans KR', sans-serif, '맑은고딕','Malgun Gothic','돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana, AppleGothic;

$font-verdana: 'Verdana', 'Noto Sans KR', sans-serif, '맑은고딕','Malgun Gothic','돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana, AppleGothic;

$font-tahoma: 'Tahoma', 'Noto Sans KR', sans-serif, '맑은고딕','Malgun Gothic','돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana, AppleGothic;

$font-gulim: 'Gulim', 'Noto Sans KR', sans-serif, '맑은고딕','Malgun Gothic','돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif, verdana, AppleGothic;


